<%= render "shared/searchbar" %>
<div class="d-flex w-100 mt-4">
  <div>
    <div>
      <div class="card-trip-container">
        <% @users.each do |user| %>
          <% if (user.name && user.photo.attached?) || user == current_user %>
            <div class="card-trip">
              <% if user.photo.attached? %>
                <%= cl_image_tag user.photo.key, width: 400, height: 300 %>
              <% else %>
                <%= image_tag "Running-Buddy-Logo.png", width: 400, height: 300 %>
              <% end %>
                <div style="display: flex" class="card-trip-infos">
                  <div>
                    <% if user.name %>
                      <h2><%= user.name %></h2>
                    <% else %>
                      <h2>Name:</h2>
                    <% end %>
                      <p>Birthday: <%= user.birthday %></p>
                      <p>Gender: <%= user.gender %></p>
                      <p>Running Level: <%= user.running_level %></p>
                    </div>
                    <div style="text-align: right">
                      <%= link_to "More", user_path(user), class: "button-green" %><br><br>
                      <% if current_user == user %>
                        <%= link_to "Edit profile now", "/users/#{current_user.id}/edit", class: "button-green" %>
                      <% end %>
                    </div>
                </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="buttons-bottom m-3">
  <%= link_to "Back", :back, class: "button-rosa" %>
</div>
