<div class="d-flex w-100">
  <div>
    <div>
      <div class="card-trip-container">
        <% @users.each do |user| %>
          <div class="card-trip">
            <% if user.photo.attached? %>
              <%= cl_image_tag user.photo.key, width: 400, height: 300 %>
            <% else %>
              <%= cl_image_tag("runner_cmnhbm", width: 400, height: 300) %>
            <% end %>

              <div style="display: flex" class="card-trip-infos">
                <div>
                  <h2><%= user.name %></h2>
                  <p>Birthday: <%= user.birthday %></p>
                  <p>Gender: <%= user.gender %></p>
                  <p>Running Level: <%= user.running_level %></p>
                </div>
                <%= link_to "More", user_path(user), class: "button-green" %>
              </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="buttons-bottom m-3">
  <%= link_to "Back", :back, class: "button-rosa" %>
</div>
