
<div class="detail-info">

  <div class="user d-flex flex-wrap">
<!--     <%# if @user.avatar_url%>
 -->
  <div style="background-image: url('<%= @creator.avatar_url %>'); height: 100px; width: 100px; background-size: cover; border-radius: 50%; border: white 3px solid;">
  </div>
 <!--  <%# else @partner.url_photo%>
          <%#= cl_image_tag @user.url_photo, height: 500, width: 600 %> -->
   <!--  <%# end %> -->
    <h2><%= @creator.name %></h2>
  </div>
  <div>
    <div class="user-info col-12" style="display: flex">
      <div>
        <h3>Details</h3>
        <p>Name:  <%= @creator.name %></p>
        <p>Gender:  <%= @creator.gender %></p>
        <p>Birthday:  <%= @creator.birthday %></p>
        <p>Running Level:  <%= @creator.running_level %></p>
      </div>
      <div class="user-photo">
        <% if @creator.photo.attached?%>
          <%= cl_image_tag @creator.photo.key, width: 300, height: 200, crop: :fill %>
        <% else %>
          <%= image_tag("Running-Buddy-Logo.png", width: 400, height: 300, crop: :fill) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="last-runs">
    <h3><%= @creator.name %>'s last Runs:</h3>
      <ul>
        <% @meetings.each do |meeting| %>
          <li>
            <% run = Run.find((meeting.run_id)) %>
            <%= run.route %>
          </li>
        <% end %>
      </ul>
  </div>
  <div class="buttons-bottom">
    <%= link_to "Back", users_path, class: "button-rosa" %>

    <%= link_to "Buddy up!", user_buddy_connections_path(user_id: @creator.id), method: "POST", class: "button-green" %>

  </div>
</div>

