
<div class="detail-info">

  <div class="user d-flex flex-wrap">
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      <h2><%= @creator.email %></h2>
  </div>

  <div class="user-info">
    <h3>Details</h3>
    <p>Name:<%= @creator.name %></p>
    <p>Gender:<%= @creator.gender %></p>
    <p>Birthday:<%= @creator.birthday %></p>
    <p>Running Level:<%= @creator.running_level %></p>
  </div>

  <div class="last-runs">
    <h3><%= @creator.email %> last Runs:</h3>
      <ul>
        <% @meetings.each do |meeting| %>
          <li>
            <% run = Run.find((meeting.run_id)) %>
            <%= run.route %>
          </li>

        <% end %>
      </ul>
  </div>

</div>

