<div class="footer">
  <%# <div class="footer-action"> %>
    <%= image_tag "Chat.png" %>
    <%= image_tag "Home.png" %>
    <%= link_to '+', new_run_path, class: "button-add-run" %>
    <%= image_tag "Person.png" %>
    <%= image_tag "Search.png" %>
  <%# </div> %>
</div>
