<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="text-logo">
    <div class="logo">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "Running-Buddy-Logo.png" %>
      <% end %>
    </div>
    <div class="text">
      <h3 class="rb-text mb-0">Running Buddy</h3>
    </div>
  </div>

  <div class="loop-avatar">
      <% if ["index"].include?(params[:action]) %>
        <button type="button" id="SuchLupe"><i class="fas fa-search"></i></button>
      <% end %>
    <div>
      <div class="nav-item dropdown pl-4">
        <% if user_signed_in? %>
          <%= image_tag current_user.avatar_url, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <div class="nav-item">
            <%= link_to "LOGIN", new_user_session_path, class: "nav-link" %>
          </div>
        <% end %>
        <div class="dropdown-menu dropdown-menu-right pl-4" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <%= link_to "Edit profile", "/users/:id/edit", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
