<div class="run-container mt-4">
  <div class="col-12">
    <h2>EDIT MY RUN</h2>
    <%= simple_form_for(@run) do |f| %>
    <%= f.input :route %>
    <%= f.input :length, placeholder: "kilometers" %>
    <%= f.input :pace %>
    <%= f.input :duration, placeholder: "minutes"%>
    <%= f.input :location, placeholder: "run starting point", id: "autocomplete-create" %>
    <%= f.input :date %>
    <%= f.submit class: "btn btn-ghost" %>
    <%= link_to "Back", :back, class: "button-green" %>
    <% end %>

  </div>
</div>
