<div class="d-flex w-100">
  <div>
    <div>
      <div class="card-trip-container">
        <% @runs.each do |run| %>
          <div class="card-trip">

            <div id="small-map"
              style="width: 50%; height: 200px; ml-5"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>

              <div style="display: flex" class="card-trip-infos">
                <div>
                  <h2><%= run.route %></h2>
                  <p> Date: <%= run.date %></p>
                  <p>Location: <%= run.location %></p>
                </div>
                <%= link_to "More", run_path(run), class: "button-green" %>
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
              </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="buttons-bottom m-3">
  <%= link_to "Back", :back, class: "button-green" %>
</div>
