<%= render "shared/searchbar" %>
<div class="d-flex w-100">
  <div>
    <% if ["index"].include?(params[:action]) %>
      <p class="nav-link" id="search-toggler"></p>
    <% end %>

    <div>
      <div class="card-trip-container">
        <% @runs.each do |run| %>
          <div class="card-trip">
              <% if run.user.photo.attached? %>
                <%= cl_image_tag run.user.photo.key, width: 400, height: 300 %>
              <% else %>
                <%= image_tag "Running-Buddy-Logo.png", width: 400, height: 300 %>
              <% end %>
              <div style="display: flex" class="card-trip-infos">
                <div>
                  <h2><%= run.route %></h2>
                  <p> Date: <%= run.date %></p>
                  <p>Location: <%= run.location %></p>
                </div>
                <%= link_to "More", run_path(run), class: "button-green" %>
                <%= render "shared/user_image", user: User.find(run.user_id), css_class: "card-trip-user avatar-bordered" %>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="buttons-bottom m-3">
  <%= link_to "Back", :back, class: "button-rosa" %>
</div>
