<div class="d-flex w-100">
  <div>
    <div>
      <div class="card-trip-container">
        <% @runs.each do |run| %>
          <div class="card-trip" style="width: 600px, height: 400px">
            <div id="map-<%=run.id %>" class="maps"
              style="width: 100%; height: 200px"
              data-run-id="<%= run.id %>"
              data-markers="<%= [{lat: run.geocode[0], lng: run.geocode[1]}].to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>", class="mapboxgl-map">
            </div>

              <div style="display: flex" class="card-trip-infos">
                <div>
                  <h2><%= run.route %></h2>
                  <p> Date: <%= run.date %></p>
                  <p>Location: <%= run.location %></p>
                </div>
                <%= link_to "More", run_path(run), class: "button-green" %>
                <% creator = User.find(run.user_id) %>
                <% if creator.photo.attached? %>
                  <%= cl_image_tag creator.photo.key, class: "card-trip-user avatar-bordered" %>
                <% elsif creator.avatar_url != ""%>
                  <%= image_tag creator.avatar_url, class: "card-trip-user avatar-bordered" %>
                <% else %>
                  <%= image_tag "https://images.unsplash.com/photo-1524957467802-e4a9b20bcd5c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8ZXhpdCUyMGdyZWVufGVufDB8fDB8&auto=format&fit=crop&w=800&q=60", class: "ml-2 avatar", alt: "avatar" %>
                <% end %>
              </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="buttons-bottom m-3">
  <%= link_to "Back", :back, class: "button-rosa" %>
</div>
