<div class="d-flex w-100">
  <div>
    <div>
      <div class="card-trip-container">
        <% @runs.each do |run| %>
          <div class="card-trip" style="width: 600px, height: 400px">
            <div id="map-<%=run.id %>" class="maps"
              style="width: 100%; height: 200px"
              data-run-id="<%= run.id %>"
              data-markers="<%= [{lat: run.geocode[0], lng: run.geocode[1]}].to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>", class="mapboxgl-map">
            </div>

              <div style="display: flex" class="card-trip-infos">
                <div>
                  <h2><%= run.route %></h2>
                  <p> Date: <%= run.date %></p>
                  <p>Location: <%= run.location %></p>
                </div>
                <%= link_to "More", run_path(run), class: "button-green" %>
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
              </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="buttons-bottom m-3">
  <%= link_to "Back", :back, class: "button-green" %>
</div>
