<div class="d-flex w-100">
  <div>
    <div>
      <div class="card-trip-container">
        <% @runs.each do |run| %>
          <div class="card-trip">
            <img src="https://images.unsplash.com/photo-1581889470536-467bdbe30cd0?ixlib=rb-1.2.1&auto=format&fit=crop&w=2780&q=80">

              <div style="display: flex" class="card-trip-infos">
                <div>
                  <h2><%= run.route %></h2>
                  <p> Date: <%= run.date %></p>
                  <p>Location: <%= run.location %></p>
                </div>
                <%= link_to "More", run_path(run), class: "button-green" %>
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
              </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="buttons-bottom m-3">
  <%= link_to "Back", :back, class: "button-green" %>
  <p>looking for a whole different run?  <%= link_to "Create your own Run!", new_run_path, class: "btn btn-createrun" %></p>
</div>
