<h1>Runs#show</h1>
<p>Find me in app/views/runs/show.html.erb</p>

<% @meetings.sort.each do |meeting|%>
    <%= meeting.id %>:
    <%= meeting.status %>
    <% can_cancel = meeting.status != "cancelled" %>
    <% can_confirm = meeting.status == "pending" %>
    <% can_undo = meeting.status == "cancelled" %>
    <% if can_cancel %>
      <%= link_to 'cancel run', run_meeting_path(meeting.run, meeting, status: "cancelled"), method: :patch, data: { confirm: "Are you sure?" } %>
    <% end %>
    <% if can_confirm %>
      <%= link_to 'confirm run', run_meeting_path(meeting.run, meeting, status: "confirmed"), method: :patch %>
    <% end %>
    <% if can_undo %>
      <%= link_to 'undo', run_meeting_path(meeting.run, meeting, status: "pending"), method: :patch %>
    <% end %>
  <hr>
  <%#= link_to "remove", dose_path(dose[:id]), method: :delete, data: { confirm: "Are you sure?" } %>
  <%#= button_to 'cancel run', { controller: "meetings", action: "update", id: meeting.id, status: "cancelled" , method: :put } %>
<% end %>

<hr>

<%= button_to 'join run', { controller: "meetings", action: "create", run_id: @run.id, user_id: current_user , method: :post } %>
